body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.item{
  width: 18%;
  height: 30px;
  padding: 7px;
  text-align: center;
  display: inline-block;
  color: wheat;
  background-color: gray;
}

.item:hover{
  color: red;
  background-color: beige;
}

/*--Header--*/
.imgcab{
  width: 95%;
  border: 2px solid black;
  height: 300px;
}
.tit{
  text-align: center;
  color: brown;
}
.marco{
  width: 90%;
  height: auto;
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
}